//
// Modules -> Grid
// --------------------------------------------------

// Container widths
.container {
  @include container;
}

// Row
.row {
  @include make-row;

  &--sm {
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
  }

  // only for flexbox
  @if $use-flexbox == true {
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}
@if $use-flexbox == true {
  .col.reverse {
    flex-direction: column-reverse;
  }
}

// Columns
.col {
  @include make-column;

  .row--sm & {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

// Extra small grid
@include make-grid(xs);

@if $use-adaptive == true {
  // Small grid
  @media screen and (min-width: $screen-sm-min) {
    @include make-grid(sm);
  }

  // Medium grid
  @media screen and (min-width: $screen-md-min) {
    @include make-grid(md);
  }

  // Large grid
  @media screen and (min-width: $screen-lg-min) {
    @include make-grid(lg);
  }

  // XLarge grid
  @media screen and (min-width: $screen-xl-min) {
    @include make-grid(xl);
  }
}
