//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
    span {
      display: block;
    }
    span + img {
      @media screen and (min-width: $screen-md-min) {
        margin-left: 15px;
      }
    }

    &__btns {
      margin-top: 30px;
      @media screen and (min-width: $screen-lg-min) {
        margin-top: 0;
      }
      .btn {
        margin-right: 4px;
        margin-bottom: 4px;
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
        @media screen and (min-width: $screen-lg-min) {
          margin-bottom: 0;
        }
      }
    }

    &__finish {
      display: flex;
      flex-wrap: wrap;

      span + span {
        margin-left: 20px;
      }
    }

    &__item {
      color: white;
      font-size: 13px;
      text-decoration: none;
      display: block;
      width: 120px;
      &:before {
        content: '';
        margin: 0;
      }
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        width: auto;
        align-items: center;
        white-space: nowrap;
      }
      &:first-child {
        text-align: left;
        span {
          order: 1;
          margin-top: 10px;
          @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
            margin-left: 15px;
            + img {
              margin-left: 0;
            }
          }
        }
      }
      &:last-child {
        text-align: right;
        span {
          order: -1;
          margin-top: 10px;
          @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
            margin-right: 15px;
            + img {
              margin-left: 0;
            }
          }
        }
      }
    }

    &__link {
      position: relative;
      text-decoration: none;
      font-weight: 700;
      font-size: 22px;
      color: $base-color-dark;
      &:hover,
      &:focus {
        color: $base-color-main;
      }
    }

    &--one {
      span + img {
        margin-right: 15px;
      }
      .pagination {
        &__item {
          display: flex;
          width: auto;
          align-items: center;
        }
      }
    }

    &--inside {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-self: center;
      margin-bottom: 40px;
      .pagination__item {
        color: $base-color-main;
        span {
          display: none;
          @media screen and (min-width: $screen-md-min) {
            display: inline-block;
          }
        }
      }
    }

    &__item.active a {
      &,
      &:hover,
      &:focus {
        color: $base-color-main;
      }
    }

    &--pager {
      position: relative;
      padding-top: 80px;
      .pagination__item {
        margin: 0 10px;
        width: auto;
        &:first-child {
          width: 50%;
          position: absolute;
          top: 10px;
          left: 0;
          @media screen and (min-width: $screen-md-min) {
            margin-right: 80px;
          }
          @media screen and (min-width: $screen-xl-min) {
            margin-right: 150px;
          }
        }
        &:last-child {
          position: absolute;
          top: 10px;
          right: 0;
          @media screen and (min-width: $screen-md-min) {
            margin-left: 80px;
          }
          @media screen and (min-width: $screen-xl-min) {
            margin-left: 150px;
          }
        }
      }
    }
  }
}
