.gallery-thumbs {
  display: flex;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  background-color: $gray;
  @media screen and (min-width: $screen-lg-min) {
    padding-left: 20px;
    flex-direction: column;
    width: 240px;
    height: 520px;
  }
}


.swiper {
  &-button {
    display: flex;
    align-items: center;
    * + * {
      margin-left: 30px;
    }
  }
}
