//
// Pages -> Index
// ------------------------------------

.page-index {

}

.page-forum {
  .content {
    @media screen and (min-width: $screen-lg-min) {
      padding-top: 80px;
    }
  }
}

.page-dash {

}
.page-users {
  .content {
    @media screen and (min-width: $screen-lg-min) {
      padding-bottom: 60px;
    }
  }
}

.page-practice {
}


.background {
  &--light {
    background-color: $gray;
  }
  &--lighter {
    background-color: #E8F6FD;
  }
}

.page-messages {
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 44px;
  }
}

.subTitle {

  font-weight: 800;
  color: $base-color-dark;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}

.content {
  padding-bottom: 44px;
}

