.page-materials {
  p {
    color: $base-color-dark;
  }
  h2 {
    padding: 40px 0 60px;
    margin: 0;
  }
  h3 {
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $base-color-dark;
    padding: 60px 0 40px;
    margin: 0;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    li {
      font-weight: 700;
      color: $base-color-dark;
      width: calc(100%/3);
      padding-right: 35px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 33px;
      &:before {
        display: none;
      }
      i {
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 0;
        color: $base-color-dark;
      }
      a {
        color: $base-color-dark;
        text-decoration: none;
      }
    }
  }
}

.lineTitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;

  text-transform: uppercase;
  &:before {
    content: '';
    width: 45px;
    height: 3px;
    background-color: $base-color-main;
    margin-right: 25px;
    vertical-align: middle;
    display: inline-block;
  }
  a {
    color: $base-color-main;
  }
}
