.messages {
  background-color: $gray;
  max-width: 780px;
  margin-right: -15px;
  margin-left: -15px;

  @media screen and (min-width: $screen-md-min) {
    margin-left: 0;
    margin-right: 0;
  }

  &-container {
    .mCSB_container {
      padding: 15px !important;
      display: flex;
      flex-direction: column;
    }

    .mCSB_scrollTools {
      width: 5px !important;
    }
  }

  &-bottom {
    padding: 30px;
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: flex-end;
    }

    input {
      height: 57px;
      background: white;
      border: 1px solid $gray-darken;
      border-radius: 11px;
      @include placeholder($gray-darken);
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 50px;
        margin-bottom: 0;
      }
    }

    .btn + .btn {
      margin-top: 15px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
        margin-left: 25px;
      }
    }

    &--text {
      @media screen and (min-width: $screen-md-min) {
        padding-bottom: 60px;
      }
    }

    .relative {
      .input__text-js {
        text-align: left;
        font-size: 13px;
        color: rgba(0, 42, 92, 0.5);
        margin-top: 10px;
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md-min) {
          position: absolute;
          top: 55px;
          left: 0;
          right: 0;
          text-align: center;
          margin-left: 0;
        }
      }
      + .btn {
        margin-top: 15px;
        @media screen and (min-width: $screen-md-min) {
          margin-left: 25px;
        }
      }
    }
  }

  &--full {
    max-width: inherit;
    @media screen and (min-width: $screen-md-min) {
      width: 100%;
    }
    .messages-container .mCSB_container {
      padding: 25px 30px !important;
    }
  }
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  max-width: 270px;
  @media screen and (min-width: $screen-lg-min) {
    max-width: 330px;
  }

  &--right {
    margin-right: auto;

    .message {
      &-bubble {
        color: white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 11px;
        background-color: $base-color-main;

        &:after {
          left: -9px;
          right: auto;
          border-width: 0 0 10px 10px;
          border-color: transparent transparent $base-color-main transparent;
        }
      }
      &-body {
        padding-left: 10px;
      }
      &-file {
        i {
          color: white;
        }
      }
    }
  }

  &--left {
    margin-left: auto;

    .message {
      &-body {
        padding-right: 10px;
      }
      &-file {
        i {
          color: $base-color-main;
        }
      }
    }
  }

  &-ava {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 5px;
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-name {
    font-size: 12px;
    font-weight: 700;
    color: $gray-darken;
  }

  &-date {
    font-size: 12px;
    font-weight: 700;
    color: $gray-darken;
  }

  &-bubble {
    margin-top: 10px;
    width: 100%;
    color: $base-color-dark;
    background: white;
    border-radius: 11px 11px 0 11px;
    min-height: 60px;
    font-weight: 600;
    position: relative;
    padding: 15px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 25px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      right: -9px;
      border-style: solid;
      border-width: 10px 0 0 10px;
      border-color: transparent transparent transparent white;
    }

    .buttons {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    .btn {
      height: 36px;
      border: none;
      padding: 5px 20px;
      background-color: rgba(white, .28);
      min-width: inherit;
      + .btn {
        margin-left: 8px;
      }
    }
  }

  &-file {
    width: 100%;
    display: flex;
    align-items: center;
    &:last-child {
      margin-top: 20px;
    }
    i {
      font-size: 22px;
      margin-right: 15px;
    }
  }
}

@mixin tabItem() {
  font-weight: 700;
  color: $base-color-dark;
  display: flex;
  padding: 20px;
  align-items: center;
  border-top: 2px solid $gray;
  border-left: 2px solid $gray;
  text-decoration: none;
  position: relative;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 25px;
  }
  span + span {
    width: 23px;
    height: 24px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 6px;
    background-color: $base-color-main;
    margin-left: auto;
  }
}

.messageTabs {
  @media screen and (min-width: $screen-md-min) {
    display: flex;
  }
  .messages {
    margin-right: 0;
    margin-left: 0;
    max-width: inherit;
  }
  .tabHead {
    @include tabItem();
    border-right: 2px solid $gray;
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
  .tabs {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 250px;
    }
    @media screen and (min-width: $screen-xl-min) {
      width: 300px;
    }
    li {
      margin-bottom: 0;
      &:before {
        display: none;
      }
      &:last-child a {
        border-bottom: 2px solid $gray;
      }
    }
    a {
      @include tabItem();
      &.active {
        &:after {
          content: '';
          border-style: solid;
          width: 0;
          height: 0;
          border-width: 17px 17px 17px 0;
          border-color: transparent $gray transparent transparent;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .item {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - 250px);
    }
    @media screen and (min-width: $screen-xl-min) {
      width: calc(100% - 300px);
    }
    &:last-child .tabHead {
      border-bottom: 2px solid $gray;
    }
  }

  .scroll-container {
    height: 280px;
    @media screen and (min-width: $screen-md-min) {
      height: 390px;
    }
  }
  .messages-container .mCSB_container {
    margin-right: 30px;
  }
}
