//
// Partials -> Aside
// ------------------------------------


//
// Aside
//
.aside {
  position: fixed;
  left: -1000px;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  transition: all .5s;
  width: 100%;
  overflow-y: auto;
  @media screen and (min-width: $screen-lg-min) {
    top: 74px;
    left: 0;
    width: 250px;
    overflow-y: visible;
  }
  .header-menu {
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (min-width: $screen-lg-min) {
      display: none;
    }
  }
  &-logo {
    height: 74px;
    color: white;
    background-color: $base-color-dark;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: white !important;
    }
    img {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      padding: 99px 16px 25px;
      display: block;
      max-width: 74px;
      height: 100vh;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 25px 16px;
    }
  }
  a {
    display: block;
  }
  &-cabinet {
    color: #000;
    background-color: white;
    width: 100%;
    padding: 0;
    //padding: 25px 20px;
    @media screen and (min-width: $screen-md-min) {
      width: 250px;
      overflow-y: auto;
      //padding: 25px 5px;
    }
  }
  &-user {
    text-align: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 60px;
    overflow: hidden;
    @media screen and (min-width: $screen-md-min) {
      margin: 0 auto 5px;
    }
  }
  &-name {
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
  &-nav {
    padding: 30px;
    @media screen and (min-width: $screen-md-min) {
      //margin-top: 20px;
    }
    .sub-nav {
      padding-top: 0px;
      a {
        color: $gray-darken-2;
        //padding: 8px 20px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 12px;;
      }
    }
    .main-nav__item--parent {
      > a {
        &:after {
          background: url("../images/icons/showmore-b.svg") no-repeat center;
        }
      }
    }
    .main-nav > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
    li {
      width: 49%;
      margin-bottom: 0;
      @media screen and (min-width: $screen-md-min) {
        width: 100%;
      }
      &:before {
        display: none;
      }
    }
    a {
      color: black;
      border-radius: 3px;
      //padding: 12px 20px;
      padding: 0;
      font-weight: 500;
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      display: block;
      text-decoration: none;
      font-weight: 700;

      span {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 23px;
        height: 24px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: $base-color-main;
      }
      &:hover,
      &.active {
        //font-weight: 700;
        color: $base-color-main;
        //&:after {
        //  content: '';
        //  width: 100%;
        //  height: 2px;
        //  position: absolute;
        //  left: 0;
        //  right: 0;
        //  bottom: 0;
        //  background-color: $base-color-main;
        //  border-radius: 3px;
        //}
      }
    }
  }
  &-menu {
    position: relative;
    left: 0;
    color: #000;
    //z-index: -1;
    //top: -1px;
    width: 100%;
    overflow: hidden;
    //color: white;
    //background-color: $base-color-dark;
    //transition: width .5s;
    @media screen and (min-width: $screen-md-min) {
      //width: 300px;
      //top: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      //width: 0;
    }

    .social,
    .main-nav {
      width: 100%;
      padding: 20px 20px 10px;
      @media screen and (min-width: $screen-md-min) {
        padding: 25px 20px;
      }
    }
    .main-nav {
      li {
        display: block;
        margin-bottom: 20px;
        &:before {
          display: none;
        }
      }

      &__item--parent > a.active:after {
        background: url("../images/icons/showmore-blue.svg") no-repeat center;
      }

      a {
        display: inline-block;
        color: #000;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        &.active {
          color: #1d91d3;
        }
      }

      .sub-nav {
        a {
          font-weight: 500;
          //padding-bottom: 12px;
        }
      }
    }
  }
  &-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #0091c8;
    padding: 5px;
    @media screen and (min-width: $screen-md-min) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .header-logout {
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
  &.active {
    left: 0;
    @media screen and (min-width: $screen-lg-min) {
      width: 550px;
      .aside-menu {
        width: 300px;
      }
    }
  }
}
