//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  @extend .medium;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 110;
  &-menu {
    height: 74px;
    width: 250px;
    display: flex;
    padding-left: 20px;
    //justify-content: center;
    align-items: center;
    //color: white;
    //background: url("../images/icons/menu.svg") no-repeat center, $base-color-main;
    &.active {
      //background-image: url("../images/icons/close-menu.svg");
    }
  }
  &-logo {
    //padding-left: 10px;
    min-width: 100px;
    @media screen and (min-width: $screen-lg-min) {
      margin-right: 200px;
    }
  }
  &-search {
    width: 100%;
    max-width: 74px;
    height: 74px;
    overflow: hidden;
    position: relative;
    transition: max-width .5s;
    @media screen and (min-width: $screen-lg-min) {
      max-width: 300px;
    }
    &.active {
      position: static;
      //max-width: 666px;
      .search-mobile {
        display: none;
      }
    }
    .search {
      position: absolute;
      top: 0;
      @media screen and (min-width: $screen-lg-min) {
        position: relative;
      }
      &-mobile {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        position: relative;
        z-index: 10;
        @media screen and (min-width: $screen-lg-min) {
          display: none;
        }
      }
    }
    button {
      position: absolute;
      left: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      border: none;
      background: none;
      //color: $base-color-main;
      color: #000;
      cursor: pointer;
      padding: 0;
    }
    input {
      color: $black;
      //background-color: $gray;
      height: 74px;
      width: 120%;
      border: none;
      color: #000;
      padding: 10px 20px 10px 60px;
      @include placeholder(#000);
      @media screen and (min-width: $screen-md-min) {
        width: 100%;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 10px 60px;
      }
    }
  }
  &-logout {
    text-align: right;
    margin-left: auto;
    padding-right: 25px;
    @media screen and (min-width: $screen-md-min) {
      padding-right: 50px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-right: 100px;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
}





.l-burger {
  width: 24px;
  height: 16px;
  position: relative;
  transform: rotate(0);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 100
}

.l-burger__dash {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: .25s ease-in-out
}

.l-burger__dash--1 {
  top: 0
}

.l-burger__dash--2, .l-burger__dash--3 {
  top: 8px
}

.l-burger__dash--4 {
  top: 16px
}

.is-panel-opened .l-burger__dash--1 {
  top: 8px;
  width: 0%;
  left: 50%
}

.is-panel-opened .l-burger__dash--2 {
  transform: rotate(45deg)
}

.is-panel-opened .l-burger__dash--3 {
  transform: rotate(-45deg)
}

.is-panel-opened .l-burger__dash--4 {
  top: 8px;
  width: 0;
  left: 50%
}


.l-panel {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 485px;
  padding-left: 72px;
  height: 100%;
  transform: translate(-100%, 0);
  transition: transform .3s;
  transition-delay: 0s;
  overflow-y: auto;
  z-index: 50
}
.is-panel-opened .l-panel {
  transform: none;
  transition-delay: .3s
}

.l-panel-safe {
  position: fixed;
  left: 0;
  top: 0;
  width: 72px;
  height: 100%;
  background: #fff;
  z-index: 60;
  opacity: 0;
  transition: opacity .3s ease .3s;
  pointer-events: none;
  border-right: 1px solid rgba(119, 119, 119, .1)
}

.is-panel-opened .l-panel-safe {
  opacity: 1;
  transition: opacity .3s ease 0s;
  pointer-events: auto
}

@media (max-width: 991px) {
  .l-panel-safe {
    display: none
  }
}

.l-panel-overlay {
  position: fixed;
  pointer-events: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: opacity .3s;
  transition-delay: .3s;
  z-index: 40
}

.is-panel-opened .l-panel-overlay {
  opacity: .2;
  pointer-events: auto;
  transition-delay: 0s
}

@media (max-width: 991px) {
  .l-panel-overlay {
    display: none
  }
}
