.pageHeader {
  color: white;
  padding: 40px 0;
  background-color: $base-color-main;
  &--sm {
    padding: 25px 0;
  }
  h1 {
    margin: 0;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-lg-min) {
      flex-wrap: nowrap;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      margin-top: 35px;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      &__left {
        width: auto;
      }
      &__right {
        width: auto;
        display: block;
        margin-top: 0;
      }
    }
  }

  .btn {
    min-width: inherit;
    @media screen and (min-width: 1280px) {
      min-width: 210px;
    }
  }

  &-progress {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      max-width: 270px;
    }
    &__line {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-weight: 700;
      width: 150px;
      margin-right: 30px;
      &-title {}
      &-desc {}
      &-range {
        margin-top: 10px;
        width: 100%;
        height: 4px;
        position: relative;
        background: rgba(white, 0.14);
        span {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 53%;
          background-color: white;
        }
      }
    }
    &__job {
      display: flex;
      font-size: 13px;
      line-height: 1;
      justify-content: space-between;
      + .pageHeader-progress__job {
        margin-top: 8px;
      }
      &-desc {
        margin-left: 15px;
      }
    }
  }
  &-date {
    color: rgba(white, 0.6);
    @media screen and (min-width: $screen-lg-min) {
      text-align: right;
    }
  }

  + section {
    padding-top: 40px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
  }

  &--crumbs {
    h1 {
      font-size: 34px;
    }
  }
}


.title {
  display: flex;
  font-size: 18px;
  align-items: flex-start;
  @media screen and (min-width: $screen-md-min) {
    align-items: center;
    font-size: 25px;
  }

  .num {
    width: 80px;
    font-size: 25px;
    font-weight: 700;
    align-self: flex-start;
  }
  p {
    margin-bottom: 0 !important;
    font-size: 14px;
    + .btn {
      margin-top: 10px;
    }
  }

  small {
    display: block;
    margin-top: 10px;
  }

  > * + * {
    margin-left: 30px;
  }

  h5 {
    margin: 0;
    text-transform: uppercase;
  }
}
