extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('calendar.html', menu)

block content
  main.page-calendar
    include ../components/pageHeader
    section.container.content
      .calendar.calendar--main
        .row.between__xs.calendar-helper
          .col.fc-button-prev.fc-buttons
            +img('icons/calendar-prev.svg')
            span
          .col.fc-button-next.fc-buttons
            span
            +img('icons/calendar-next.svg')
        #calendar(data-view='timeGridWeek', data-height='680', data-mobile-view='listMonth', data-events=[
          {
            start: '2020-10-20T09:00:00',
            end: '2020-10-20T14:30:00',
            ico: 'assets/images/calendar/checked.svg',
            dates: '20.10.2019 <br /> 09:00 - 14:30 MSK',
            titles: '<b>Вебинар №1.</b> Установочный вебинар.',
            description: '<b>Вебинар состоялся.</b> Вы можете ознакомиться с его записью.',
          },
          {
            start: '2020-10-22T10:00:00',
            end: '2020-10-22T16:00:00',
            ico: 'assets/images/calendar/video.svg',
            dates: '22.10.2019 <br /> 09:00 - 14:30 MSK',
            titles: '<b>Вебинар №2.</b> Установочный вебинар.',
            description: '<b>Вебинар состоялся.</b> Вы можете ознакомиться с его записью.',
          },
          {
            start: '2020-10-24T13:00:00',
            end: '2020-10-24T18:30:00',
            ico: 'assets/images/calendar/doc.svg',
            dates: '24.10.2019 <br /> 13:00 - 18:30 MSK',
            titles: '<b>Вебинар №2.</b> Установочный вебинар.',
            description: '<b>Вебинар состоялся.</b> Вы можете ознакомиться с его записью.',
          },
          {
            groupId: 'blueEvents',
            daysOfWeek: ['5', '6'],
            startTime: '09:00:00',
            endTime: '12:30:00',
            ico: 'assets/images/calendar/video.svg',
            dates: '22.10.2019 <br /> 09:00 - 11:30 MSK',
            titles: '<b>Вебинар №2.</b> Установочный вебинар.',
          },
        ])
        br
        .btn--inline
          a.btn.btn--outlined(href='#') Добавить в гугл календарь
          a.btn.btn--outlined(href='#') распечатать расписание


block footer
  include ../partials/_footer.pug
