extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('certificates.html', userMenu)

block content
  main.page-certificates
    section.pageHeader
      .container.text--uppercase
        h1 Сертификаты
    section.container.content
      .certificates
        - for (let x = 1; x < 5; x++)
          .certificates-el
            .certificates-el__desc
              .certificates-el__ico: +img('icons/award.svg')
              div
                .text__lg TEST-1908-09
                h3 Технологии и этапы проетирования наноразмерных интегральных схем
                div Завершен &nbsp;&nbsp; #[b.text--primary 23.08.2020]
            .courses-el__info
              .estimates
                .estimates-head Получено
                .estimates-body #[span 10]/12 #[small баллов]
              .social
                .social-head ПОДЕЛИТЬСЯ В СОЦИАЛЬНЫХ СЕТЯХ
                .social-list
                  a(href='#'): i.icon-facebook
                  a(href='#'): i.icon-vk
                  a(href='#'): i.icon-insta
            .certificates-el__btn
              a.btn.btn--primary(href='#')
                span Посмотреть
                i.icon-right
              a.btn.btn--primary(href='#')
                span Скачать
                i.icon-right


block footer
  include ../partials/_footer.pug
