extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('glossary.html', userMenu)

block content
  main.page-glossary
    include ../components/_pageHeaderBTN
    section.container.content
      h2.subTitle Глоссарий
      .glossary.col__xl-8.col__lg-10
        form.glossary-input(method='POST', action='php')
          input(type='search', placeholder='Введите слово')
          button(type='submit'): +img('icons/search.svg')
        ul.glossary-ABS
          li: a(href='#') А
          li: a(href='#') Б
          li: a(href='#') В
          li: a(href='#') Г
          li: a(href='#') Д
          li: a(href='#') Е
          li: a(href='#') Ж
          li: a(href='#') З
          li: a(href='#') И
          li: a(href='#') Й
          li: a(href='#') К
          li: a(href='#') Л
          li: a(href='#') М
          li: a(href='#') Н
          li: a(href='#') О
          li: a(href='#') П
          li: a(href='#') Р
          li: a(href='#') С
          li: a(href='#') Т
          li: a(href='#') У
          li: a(href='#') Ф
          li: a(href='#') Х
          li: a(href='#') Ц
          li: a(href='#') Ч
          li: a(href='#') Ш
          li: a(href='#') Щ
          li: a(href='#') Э
          li: a(href='#') Ю
          li: a(href='#') Я
        .glossary-list
          .glossary-list__el
            .glossary-list__el-stroke Б
            .glossary-list__el-desc
              a.glossary-list__el-title(href='#') Блокирование мембраны
              p Возникновение дополнительного сопротивления массопереносу, вызванного формированием на мембране слоя нерастворимых компонентов, а именно: осаждением солей жесткости и солей кремниевой кислоты; отложением гидроксидов металлов, прежде всего железа и оксидов кремния; накоплением пленки микроорганизмов и микроводорослей; уплотнением различных механических частиц.
          .glossary-list__el
            .glossary-list__el-stroke В
            .glossary-list__el-desc
              a.glossary-list__el-title(href='#') Величина концентрационной поляризации
              a.glossary-list__el-title(href='#') Вода свободная в растворе
        include ../components/_paginator


block footer
  include ../partials/_footer.pug
