extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('window.html', userMenu)

block content
  main.page-window
    include ../components/_pageHeaderBTN
    section.container.content
      .pagination.pagination--inside
        a.pagination__item(href='#')
          +img('icons/pagin-prev-bll.svg')
          span Предыдущий модуль
        .swiper-pagination
        a.pagination__item(href='#')
          +img('icons/pagin-next-bll.svg')
          span Следующий модуль
      .video-course.theory
        .swiper-container.gallery-top
          .swiper-wrapper
            - for (let x = 1; x < 7; x++)
              .swiper-slide
                .theory-slide
                  h2 Влияние скорости роста и примесей на возникновение дефектов
                  p При охлаждении кристалла от температуры кристаллизации происходит конденсация точечных дефектов. Плотность дефектов зависит от скорости охлаждения кристалла, которая является функцией скорости вытягивания кристалла и его диаметра. При скорости вытягивания 2 мм/мин формирования дефектов не происходит. Это обусловлено закалкой точечных дефектов и предотвращением их агломерации. Такая скорость вытягивания не может быть достигнута для кристаллов диаметром более 75 мм без ухудшения степени их монокристалличности.
                  h3.text--primary Влияние примесей на дефектность кристаллов:
                  p Примесь обладает определенной растворимостью в кристалле. Для разбавленных растворов равновесный коэффициент сегрегации k0 может быть записан как:
                  .theory-img: img(src="http://chart.apis.google.com/chart?cht=tx&chl=\\huge {x}_{1,2}=\\frac{-b\\pm\\sqrt{b^2-4ac}}{2a}")
                  p Кроссбраузерная библиотека JavaScript под названием MathJax, использующая язык разметки LAΤΕΧ (произносится как латех), была этим решением. MathJax является свободным программным обеспечением, которое доступно по лицензии Apache. Скачать библиотеку можно на GitHub.com.
        .gallery-thumbs.scroll-container
          .thumbs-item(data-slide='0'): +img('theory.jpg')
          .thumbs-item(data-slide='1'): +img('theory.jpg')
          .thumbs-item(data-slide='2'): +img('theory.jpg')
          .thumbs-item(data-slide='3'): +img('theory.jpg')
          .thumbs-item(data-slide='4'): +img('theory.jpg')
          .thumbs-item(data-slide='5'): +img('theory.jpg')


block footer
  include ../partials/_footer.pug
