extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('links.html', userMenu)

block content
  main.page-links
    include ../components/_pageHeaderBTN
    section.container.content
      h2.subTitle Полезные ссылки
      .links.col__xl-11
        a.links__el.progress-status--finished(href='#', target="_blank")
          .progress-counter: span 1
          .links__el-body
            .progress-title #[span Модуль 1.] Лучшие международные практики
            .links__el-link Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.
            .links__el-footer
              +img('icons/links.svg')
              b Стехин А.А. Структурированная вода: нелинейные эффекты. / А.А. Стехин, Г.В. Яковлева, - М.: Издательство ЛКИ, 2008. – 320 с.
        a.links__el.progress-status--finished(href='#', target="_blank")
          .progress-counter: span 2
          .links__el-body
            .progress-title #[span Модуль 2.] Интеграция управления рисками
            .links__el-link Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.
            .links__el-footer
              +img('icons/links.svg')
              b Стехин А.А. Структурированная вода: нелинейные эффекты. / А.А. Стехин, Г.В. Яковлева, - М.: Издательство ЛКИ, 2008. – 320 с.
        a.links__el(href='#', target="_blank")
          .progress-counter: span 3
          .links__el-body
            .progress-title #[span Модуль 3.] Психология риска и культура управления рисками
            .links__el-link Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.
            .links__el-footer
              +img('icons/links.svg')
              b Стехин А.А. Структурированная вода: нелинейные эффекты. / А.А. Стехин, Г.В. Яковлева, - М.: Издательство ЛКИ, 2008. – 320 с.
        a.links__el.progress-status--disabled(href='#', target="_blank")
          .progress-counter: span 4
          .links__el-body
            .progress-title #[span Модуль 4.] Количественная оценка риска
            .links__el-link Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.
            .links__el-footer
              +img('icons/links.svg')
              b Стехин А.А. Структурированная вода: нелинейные эффекты. / А.А. Стехин, Г.В. Яковлева, - М.: Издательство ЛКИ, 2008. – 320 с.
        a.links__el.progress-status--disabled(href='#', target="_blank")
          .progress-counter: span 5
          .links__el-body
            .progress-title Пробный тест G31000
            .links__el-link Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в компаниях реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.
            .links__el-footer
              +img('icons/links.svg')
              b Стехин А.А. Структурированная вода: нелинейные эффекты. / А.А. Стехин, Г.В. Яковлева, - М.: Издательство ЛКИ, 2008. – 320 с.


block footer
  include ../partials/_footer.pug
