extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('dashboard.html', userMenu)

block content
  main.page-dash
    include ../components/_pageHeaderBTN
    section.background--light.dash
      .container
        .row.row--sm.middle__xs.dash-header
          .col.col__xl-7.col__lg-9.col__xs-12
            h2.dash-subtitle МОИ КУРСЫ И ПРОГРАММЫ
          .col.col__lg-3.col__xs-12
            .swiper-button
              .swiper-prev: +img('icons/slider-prev.svg')
              .swiper-next: +img('icons/slider-next.svg')
        .typicalSlider.swiper-container(data-slider='2', data-tab-slider='1')
          .swiper-wrapper
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                .dashBlock
                  .doubleTitle
                    .doubleTitle-ico: +img('icons/lists.svg')
                    .doubleTitle-name
                      h4 Технологии и этапы проетирования наноразмерных интегральных схем
                      p.text__lg.text--primary #[i.icon-tv] Электронный курс
                  .progressBar
                    .progressBar-el
                      .progressBar-el__name Осталось
                      .progressBar-el__bar
                        span(style='width: 70%')
                      .progressBar-el__time 13 дней
                    .progressBar-el
                      .progressBar-el__name Пройдено
                      .progressBar-el__bar
                        span(style='width: 53%')
                      .progressBar-el__time 53%
              .swiper-slide
                .dashBlock
                  .doubleTitle
                    .doubleTitle-ico: +img('icons/lists.svg')
                    .doubleTitle-name
                      h4 Стратегии коммерциализации НИОКР: оценка, сценарии, продвижение
                      p.text__lg.text--primary #[i.icon-study] Повышение квалификации
                  .progressBar
                    .progressBar-el
                      .progressBar-el__name Осталось
                      .progressBar-el__bar
                        span(style='width: 70%')
                      .progressBar-el__time 13 дней
                    .progressBar-el
                      .progressBar-el__name Пройдено
                      .progressBar-el__bar
                        span(style='width: 53%')
                      .progressBar-el__time 53%
    section.dash
      .container
        h2.dash-subtitle БЛИЖАЙШИЕ МЕРОПРИЯТИЯ
        .calendar
          .calendar-links.calendar-links--js
            a.calendar-links__item.active(href='#', data-type='dayGridWeek', data-height='360') Неделя
            a.calendar-links__item(href='#', data-type='dayGridMonth', data-height='700') Месяц
            a.calendar-links__item(href='#', data-type='listMonth', data-height='400') Список
          .row.between__xs.calendar-helper
            .col.fc-button-prev.fc-buttons
              +img('icons/calendar-prev.svg')
              span
            .col.fc-button-next.fc-buttons
              span
              +img('icons/calendar-next.svg')
          #calendar(data-view='dayGridWeek', data-mobile-view='dayGrid', data-height='360', data-events=[
            {
              title: 'Стратегии коммерциализации НИОКР: оценка, сценарии, продвижение',
              start: '2020-10-01',
              description: '07 Октября - 29 Ноября',
            },
            {
              title: 'Стратегии коммерциализации НИОКР: оценка, сценарии, продвижение',
              start: '2020-10-05',
              description: '07 Октября - 29 Ноября',
            },
            {
              title: 'Стратегии коммерциализации НИОКР: оценка, сценарии, продвижение',
              start: '2020-10-06',
              description: '07 Октября - 29 Ноября',
            },
          ])


block footer
  include ../partials/_footer.pug
