extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('forum.html', cabinetMenu)

block content
  - var subtitle = 'Форум'
  - var title = 'Риск-ориентированное управление. Подготовка к сертификации'
  main.page-forum
    section.pageHeader.pageHeader--crumbs
      .container
        include ../components/_breadcrumbs
    section.container.content
      iframe.iframe(src="https://www.tutorialrepublic.com/")


block footer
  include ../partials/_footer.pug
