extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('forum.html', menu)

block content
  main.page-forum
    include ../components/pageHeader
    section.container.content
      iframe.iframe(src="https://www.tutorialrepublic.com/")


block footer
  include ../partials/_footer.pug
