extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('helper.html', menu)

block content
  main.page-helper
    section.pageHeader
      .container.text--uppercase
        h1 Помощь
    section.container.content
      h2.subTitle Инструкции по личному кабинету
      .helper
        .helper-btns.row.row--sm
          .col.col__md-3.col__xs-12.form__group: a(href='#') Аннотация
          .col.col__md-3.col__xs-12.form__group: a(href='#') Сертификаты
          .col.col__md-3.col__xs-12.form__group: a(href='#') Я изучаю
          .col.col__md-3.col__xs-12.form__group: a(href='#') Профиль пользователя
          .col.col__md-3.col__xs-12.form__group: a(href='#') Календарь
          .col.col__md-3.col__xs-12.form__group: a(href='#') Анкетирование
          .col.col__md-3.col__xs-12.form__group: a(href='#') Материалы
        h2.subTitle Служба поддержки
        .messages
          .messages-container.scroll-container
            .message.message--right
              .message-body
                .message-name Лев Воронин
                .message-date 03.07.2019 11:00
                .message-bubble Вопрос по теме вебинара
            .message.message--left
              .message-body
                .message-name Вы
                .message-date 03.07.2019 11:00
                .message-bubble Ответ ведущего на заданный вопорс
          form.messages-bottom(method='POST', action='php')
            input.control(type='text', placeholder='Ваше сообщение')
            button.btn.btn--primary(type='submit')
              span Отправить
              i.icon-right


block footer
  include ../partials/_footer.pug
