extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('index.html', menu)

block content
  main.page-main
    include ../components/pageHeader
    section.container.content
      include ../components/_eduProgress
      .eduProgress-certificate.eduProgress-certificate--disabled
        .row.middle__xs.between__xs
          .col.col__lg-4.col__md-7.col__xs-12
            .title
              +img('icons/quality-white.svg')
              div
                h5 Сертификат
                p Доступен в разделе “#[a(href='#') Сертификаты]”
                a.btn.btn--default(href='#') Скачать сертификат
          .col.col__xl-3.col__lg-4.col__md-5.col__xs-12.eduProgress-certificate-par
            p Для получения сертификата вам нужно сдать тесты по модулям и итоговый тест
          .col.col__lg-4.col__xs-12.eduProgress-certificate-par
            .social.end__lg
              .social-head Поделиться в социальных сетях
              .social-list
                a(href='#'): i.icon-facebook
                a(href='#'): i.icon-vk
                a(href='#'): i.icon-insta
      .eduProgress-certificate.eduProgress-certificate--disabled
        .row.middle__xs
          .col.col__lg-5.col__xs-12
            .title
              +img('icons/sert-white.svg')
              div
                h5 Удостоверение #[br] о повышении квалификации
          .col.col__lg-7.col__xs-12
            p Для получения удостоверения вам необходимо выполнить практические задания, сдать тесты по модулям и итоговый тест.


block footer
  include ../partials/_footer.pug
