extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('materials.html', menu)

block content
  main.page-materials
    include ../components/pageHeader
    section.container.content
      h2.subTitle Рекомендации
      .col__lg-10
        ul.list
          - for (let x = 1; x < 4; x++)
            li: a(href='#')
              i.icon-document
              span Дополнительные материалы&nbsp;ИСО
          - for (let x = 1; x < 4; x++)
            li: a(href='#')
              i.icon-document
              span Презентация к вебинару №2
          - for (let x = 1; x < 4; x++)
            li: a(href='#')
              i.icon-document
              span Статистические данные
    section.background--light.content
      .container
        h3 Полезные ссылки
        - for (let x = 1; x < 3; x++)
          .margbot40
            h5.lineTitle: a(href='#') Блог Риск Академии
            p CRMP, CT31000, к.э.н., директор по управлению рисками ООО "УК "РОСНАНО". Вице-президент Гильдии инвестиционных и финансовых аналитиков. Руководитель направления АНО ДПО "ИСАР". Более 15 лет теории и практики управления рисками, корпоративных финансов, финансового моделирования, бизнес-планирования, оценки бизнеса в России Автор научно-исследовательских семинаров "Управление рисками" в НИУ ВШЭ и РАНХиГС, "Финансовый риск-менеджмент" и "Риск-менеджмент в  реального сектора" НИУ ВШЭ, курса по финансовому моделированию для стартапов.


block footer
  include ../partials/_footer.pug
