extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('users.html', cabinetMenu)

block content
  - var subtitle = 'Ученики'
  - var title = 'Риск-ориентированное управление. Подготовка к сертификации'
  main.page-users
    section.pageHeader.pageHeader--crumbs
      .container
        include ../components/_breadcrumbs
    section.container.content
      .row
        .col.col__md-6.xol__xs-12
          p В программе участвуют 20 человек
        .col.col__md-6.xol__xs-12.text--right
          a.linkInline(href='#')
            i.icon-document
            span Скачать весь список
      .userList.userList--vertical
        - for (let x = 1; x < 9; x++)
          .userList-item
            .userList-el
              .userList-el__user
                .userList-el__user-img
                  .img: +img('user.jpg')
                  span 1
                .userList-el__user-name
                  p Александр Петрович #[b ФЕДОРОВ]
                  p.text--gray инженер
            .userList-el
              .userList-el__date 31 год, &nbsp; 12.04.1987
            .userList-el
              .userList-el__city г. Санкт-Петербург
            .userList-el
              .userList-el__info
                a.text--primary(href="tel:79111123456") +7 (911) 112-34-56

block footer
  include ../partials/_footer.pug
