extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('tasks.html', cabinetMenu)

block content
  - var subtitle = 'Практические задания'
  - var title = 'Риск-ориентированное управление. Подготовка к сертификации'
  - var count = 10
  main.page-tasks
    section.pageHeader.pageHeader--crumbs
      .container
        include ../components/_breadcrumbs
    section.container.content.tasks
      .hidden__lg.hidden__xl
        .swiper-button
          .scroll-prev: +img('icons/slider-prev.svg')
          .scroll-next: +img('icons/slider-next.svg')
      #table-scroll
        .table--responsive
          table.table.table-tasks
            thead
              tr
                th.fixed-side
                  a.linkInline(href='#')
                    i.icon-document
                    span Скачать весь список
                th
                  b Практическое задание №1
                  p до 20.12.2019
                th
                  b Практическое задание №1
                  p до 20.12.2019
                - for (let x = 1; x < count; x++)
                  th
                    b Практическое задание №1
                    p до 20.12.2019
            tbody
              tr
                td.fixed-side #[span 1] Кузнецов Дмитрий Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud-success.svg')
                      +img('icons/tasks/tasks.svg')
                      +img('icons/tasks/next.svg')
              tr
                td.fixed-side #[span 2] Игнатенко Сергей Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud-success.svg')
                      +img('icons/tasks/tasks.svg')
                      +img('icons/tasks/next.svg')
              tr
                td.fixed-side #[span 3] Ломаев Владимир Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud.svg')
                      +img('icons/tasks/tasks-empty.svg')
                      +img('icons/tasks/next.svg')
              tr
                td.fixed-side #[span 4] Кучко Дарья Александровна
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud-error.svg')
                      +img('icons/tasks/tasks-empty.svg')
                      +img('icons/tasks/next.svg')
              tr
                td.fixed-side #[span 5] Парамонов Илья Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud.svg')
                      +img('icons/tasks/tasks-empty.svg')
                      +img('icons/tasks/next.svg')
              tr
                td.fixed-side #[span 6] Веселов Алексей Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
              tr
                td.fixed-side #[span 7] Соломин Виталий Александрович
                td
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    +img('icons/tasks/next.svg')
                td.active
                  .table-icons
                    +img('icons/tasks/cloud-success.svg')
                    +img('icons/tasks/tasks.svg')
                    .estimate
                      span Оценка
                      select.select
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(selected, value='4') 4
                        option(value='5') 5
                    +img('icons/tasks/next.svg')
                - for (let x = 1; x < count; x++)
                  td
                    .table-icons
                      +img('icons/tasks/cloud-empty.svg')
                      +img('icons/tasks/tasks-empty.svg')
                      +img('icons/tasks/next.svg')


block footer
  include ../partials/_footer.pug
