extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('test.html', menu)

block content
  main.page-test
    include ../components/_pageHeaderTest
    section.container.content
      .testBlock
        .testBlock-body
          .testBlock-result
            h2 Вы не прошли тестирование
            p Количество набранных Вами баллов: #[b 3 из 10]
          .row.between__xs
            .col.form__group.testBlock-col: a.btn.btn--primary(href='#') посмотреть результаты
            .col.form__group.testBlock-col: a.btn.btn--outlined(href='#') Пройти снова


block footer
  include ../partials/_footer.pug
