extends ../layouts/master.pug

block header
  include ../partials/_header.pug
  +aside('worksheet.html', menu)

block content
  main.page-worksheet
    section.pageHeader
      .container.text--uppercase
        .row.between__xs
          .col: h1 Название анкеты
          .col.hidden__xs.hidden__sm.text--initial.text--right
            p Дата анкеты #[br] #[b 03.07.2019]
    section.container.content
      .worksheet
        form.testBlock-body(method='POST', action='php')
          h4 1. Стандарт ГОСТ Р ИСО 31000 предназначен для:
          .row.testBlock-form
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('гармонизации процессов управления риском, описанных в существующих действующих и будущих стандартах', 'testr-id1', true)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('замены существующих отраслевых стандартов по управлению рисками', 'testr-id2', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения единства управления рисками во всех организациях', 'test-id3', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldTextarea('area1', 'area1', 'Свободный ответ', '3', false)
          hr
          h4 2. Стандарт ГОСТ Р ИСО 31000 предназначен для:
          .row.testBlock-form
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('гармонизации процессов управления риском, описанных в существующих действующих и будущих стандартах', 'testr-id4', true)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('замены существующих отраслевых стандартов по управлению рисками', 'testr-id5', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения единства управления рисками во всех организациях', 'test-id6', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения сертификации в области управления рисками', 'test-id7', false)
          hr
          h4 3. Стандарт ГОСТ Р ИСО 31000 предназначен для:
          .row.testBlock-form
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('гармонизации процессов управления риском, описанных в существующих действующих и будущих стандартах', 'testr-id8', true)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('замены существующих отраслевых стандартов по управлению рисками', 'testr-id9', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения единства управления рисками во всех организациях', 'test-id10', false)
            .form__group.col.col__lg-6.col__xs-12: +fieldCheckbox('обеспечения сертификации в области управления рисками', 'test-id11', false)
          hr
          h4 4. Стандарт ГОСТ Р ИСО 31000 предназначен для:
          .row.testBlock-form
            .form__group.col.col__xs-12: +fieldTextarea('area2', 'area2', '', '10', false)
          a.btn.btn--primary(href='#') Ответить


block footer
  include ../partials/_footer.pug
