footer.footer
  .container
    .row.row--sm.between__xs
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el
        .footer-info
          .footer-info__ico: +img('icons/envelope.svg')
          .footer-info__head Для писем
          .footer-info__desc Россия, 117036, г.Москва, #[br] пр-т 60-летия Октября, дом 10А
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el
        .footer-info
          .footer-info__ico: +img('icons/phone.svg')
          .footer-info__head Контактный телефон
          .footer-info__desc: a(href='tel:74959885388') +7 (495) 988-53-88 (доб. 1772)
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el
        .footer-info
          .footer-info__ico: +img('icons/phone.svg')
          .footer-info__head Поддержка сайта
          .footer-info__desc: a(href='tel:74959885388') +7 (495) 988-53-88 (доб. 1772)
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el.footer-el--sm
        .footer-info
          .footer-info__head enano@rusnano.com
          .footer-info__desc
            ul.social
              li: a(href='#'): +img('icons/facebook.svg')
              li: a(href='#'): +img('icons/vk.svg')
              li: a(href='#'): +img('icons/insta.svg')
              li: a(href='#'): +img('icons/youtube.svg')
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el
        ul.footer-nav
          li: a(href='#') Сведения об образовательной организации
          li: a(href='#') Пресс-центр
          li: a(href='#') Лицензия
      .col.col__xl-3.col__lg-4.col__md-6.col__xs-12.footer-el
        ul.footer-nav
          li: a(href='#') Политика в отношении использования Cookie-файлов
          li: a(href='#') Политика в отношении обработки персональных данных
      .col.col__xl-6.col__lg-4.col__md-5.col__xs-12.footer-el
        ul.footer-nav
          li: a(href='#') Публичный договор-оферта о предоставлении услуг
          li: a(href='#') Согласие на обработку персональных данных
      .col.col__md-6.col__xs-12.footer-el
        .footer-copy © 2013 – 2019 АНО «еНано»
