header.header
  .header-menu
    .l-header__cell.l-header__cell--burger
      .l-burger.header-menu--js
        span.l-burger__dash.l-burger__dash--1
        span.l-burger__dash.l-burger__dash--2
        span.l-burger__dash.l-burger__dash--3
        span.l-burger__dash.l-burger__dash--4
  .header-logo
    a(href='#'): +img('logo-enano-fill.svg')
  .header-search
    .search-mobile.search--js: +img('icons/search-b.svg')
    form.search(method='POST', action='php')
      button(type='submit'): +img('icons/search-b.svg')
      input(type='search', placeholder='Найти')
  .header-logout
    a(href='') Выйти

  nav
    .l-panel-overlay(onclick='$panel.hide()')
    .l-panel
      .l-panel__content
        .c-panel-nav.aside-menu
          +menu(asideMenu)
    .l-panel-safe

