//- Custom Configuration
block config
  - var adaptive = true // choose website type

//- Master layout

include ../mixins/_mixins.pug

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    block title
      title еНано: полезные курсы для hi-tech-специалистов
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    if adaptive === true
      meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="canonical" href="URL")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    //- Basic Seo

    block basicSeo
      meta(name='description' content='еНано: нанотехнологии и технологическое предпринимательство онлайн')
      meta(name='keywords', content='ФИОП, Фонд инфраструктурных и образовательных программ, edunano, нано, нанотехнологии, онлайн курс, онлайн обучение, технопредпринимательство, технологическое предпринимательство, стемфорд, вебинар, роснано, НИОКР, управление рисками, онлайн-курс, программа повышения квалификации, ispring, вузы, сертификат, диплом, управление проектами, стартап, чубайс, маркетинг курс, маркетинг обучение, проектный подход, инновации, ТРИЗ, трансфер технологий, цифровые компетенции, цифровая экономика, промдизайн, трансфер технологий, R&D, наука, коммерциализация, ИИ, Ципес, Антонец, геймификация, e-learning, Аллотроп')
      meta(name='author' content='')

    meta(name="og:title" content="еНано: полезные курсы для hi-tech-специалистов")
    meta(name="og:type" content="website")
    meta(name="og:image" content="https://edunano.ru/local/templates/main/build/assets/img/favicon/favicon.png")
    meta(name="og:url" content="https://edunano.ru/")
    meta(name="og:description" content="еНано: нанотехнологии и технологическое предпринимательство онлайн")
    meta(name="og:site_name" content="edunano")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="еНано: полезные курсы для hi-tech-специалистов")
    meta(name="twitter:description" content="еНано: нанотехнологии и технологическое предпринимательство онлайн")
    meta(name="twitter:image" content="https://edunano.ru/local/templates/main/build/assets/img/favicon/favicon.png")
    meta(name="twitter:url" content="https://edunano.ru/")

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="white")
    meta(name="apple-mobile-web-app-title", content="еНано: полезные курсы для hi-tech-специалистов")
    link(rel="apple-touch-icon", href="assets/images/favicons/apple-touch-icon.png")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#ffffff")
    link(rel="icon" type="image/png" href="assets/images/favicons/android-icon-192x192.png" sizes="192x192")

    // Windows
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    //- Preload fonts
    //link(type='font/woff', href=require('font'), rel='preload', as='font', crossorigin)

    link(rel="shortcut icon", href="assets/images/favicons/favicon.ico")

    block pageName
      - var pageName = "main"

  body(class="page-" + pageName)
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->

    //- Header
    block header

    //- block content
    .main
      block content

      //- Footer
      block footer

    //- block scripts
    block scripts
