section.pageHeader
  .container
    .pagination.pagination--one
      a.pagination__item(href='#')
        span Предыдущий модуль
        +img('icons/pagin-prev.svg')
      .pagination__btns.hidden__xs.hidden__sm.hidden__md
        a.btn.btn__sm.btn--info(href='#') Глоссарий
        a.btn.btn__sm.btn--info(href='#') Полезные ссылки
        a.btn.btn__sm.btn--info(href='#')
          i.icon-search
          span Поиск по материалам
    .pageHeader-inner
      .pageHeader-inner__left
        h1.title
          +img('icons/list.svg')
          span Нанотехнологии энерго- #[br] и ресурсосбережения при очистке воды
        .pagination__btns.hidden__lg.hidden__xl
          a.btn.btn__sm.btn--info(href='#') Глоссарий
          a.btn.btn__sm.btn--info(href='#') Полезные ссылки
          a.btn.btn__sm.btn--info(href='#')
            i.icon-search
            span Поиск по материалам
      .pageHeader-inner__right
        .pageHeader-progress
          .pageHeader-progress__line
            .pageHeader-progress__line-title Пройдено
            .pageHeader-progress__line-desc 53%
            .pageHeader-progress__line-range(data-num='53'): span(style='width: 53%')
          .pageHeader-progress__jobs
            .pageHeader-progress__job
              .pageHeader-progress__job-title Лекций
              .pageHeader-progress__job-desc #[b 6]/20
            .pageHeader-progress__job
              .pageHeader-progress__job-title Заданий
              .pageHeader-progress__job-desc #[b 2]/5
        .pageHeader-date Доступ до #[b 20:00 20.02.2020]
